<h1 id="tableLabel">Orders</h1>

<input  type="date" id="beginDate"/>
<input  type="date" id="endDate"/>

<button class="btn-info" (click)="submit()">Submit</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dsDonHang">
  <thead>
    <tr>
      <th>orderID</th>
      <th>customerID</th>
      <th>orderDate</th>
      <th>requiredDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dsDonHang">
      <td>{{ item.orderID }}</td>
      <td>{{ item.customerID }}</td>
      <td>{{ item.orderDate }}</td>
      <td>{{ item.requiredDate }}</td>
    </tr>
  </tbody>
</table>
